/** 
* main title
*/
.mainTitleContainer {
  margin: 2rem auto 0;
}

.mainTitleContainer a {
  text-decoration: none;
}
.mainTitle {
  font-size: 5.2em;
  font-weight: 700;
  text-align: center;
  margin: 0;
}
